.row
  .col-md-3
    = form_for @user, url:{controller:'user', action:'update', id:@user} do |f|
      =render "user_form", f: f
      = f.submit "Update"
  .col-md-2
    = button_to("maps", maps_path, method: :get, class: "big_button")
  .col-md-6
    =render "battles/index"
