-if session[:user_id] && @user = User.find(session[:user_id])
  %table
    %tr
      %th
        Name  
      %th
        a
      %th
        d
      %th
        s
      %th
        h
      %th
        a
      %th
        ex
      %th
        lv
    %tr
      %td
        = link_to @user.name, :controller => 'user', :action => 'edit', :id => @user.id
      %td
        =@user.atk
      %td
        =@user.def
      %td
        =@user.speed
      %td
        =@user.hp
        \/
        =@user.maxhp
      %td
        =@user.ap
      %td
        =@user.exp
      %td
        =@user.lvl

-else
  =link_to "home",root_path

  
